
nav {
    margin: 0%;
    padding: 0%;
    z-index: 100;
    width: 100%;
    background-color: #004981;
    font-family: "lato";
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-size: 2vh;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    padding: 20px 16px;
    color: white;
}

nav li {
    padding-right: 1%;
}

.dropbtn{
  background-color: #004981;
  color: #ffffff;
  padding:16px;
  border: none;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown_content{
  display: none;
  position: absolute;
  background-color: #004981;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a:hover {
  background-color: #ddd
}

.dropdown:hover .dropdown_content{
  display: block;
}

.dropdown:hover .dropbtn{
background-color: #ffffff;
color: #004981;
border-style: solid;
border-color: #044475;
border-width: 5px;
}

#hvikedu{
  display: flex;
  height: 10%;
  width:  10%;
  align-items: center;
}

#search {
  margin-top: 17px;
  height: 50%;
}

#seicon {
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
}

#barsicon {
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: white;
}

#bar {
  display: flex;
  color: #004981;
}

ul {
  display: none;
}

footer {
 position: absolute;
 text-align: center;
 /*bottom: 0;*/
}

.classes {
  margin-left: 3vh;
  width: 15vh;
  position: absolute;
  left:
}

.lessons {
  width: 100%;
  position: absolute;
  width: 14vh;
  top: auto;
  margin-left: 25vh;
}

.aboutus {
  width: 100%;
  position: absolute;
  width: 15vh;
  top: auto;
  margin-left: 45vh;
}

.contactus {
  width: 100%;
  position: absolute;
  width: 15vh;
  top: 3vh;
  margin-left: 80vh;
}

.icons {
  width: 100%;
  position: absolute;
  width: 15vh;
  top: 10vh;
  margin-left: 78vh;
}

.formular {
  margin-left: 80vh;
  margin-top:-20vh;
  background-color: white;
  padding: 10px;
  max-width: 100%;
  text-align: center;
}

.kubo {
  margin-top: 13vh;
  margin-left: 160vh;
