body {
    margin: 0;
}

nav {
    margin: 0;
    padding: 0;
    z-index: 100;
    width: 100%;
    background-color: #004981;
    font-family: "lato";
}

.ulnav {
  margin: auto;
  padding: 0 75px;
}

nav .ulnav {
    margin: auto;
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    font-size: 2vh;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    color: white;

}


nav li {
  margin: auto 25px;
  padding: 0;
}

button {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.dropbtn{
  background-color: #004981;
  color: #ffffff;
  border: none;
}


.dropdown_content{
  display: none;
  padding: 16px;
  position: absolute;
  background-color: #004981;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a:hover {
  background-color: #ddd
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown:hover .dropbtn {
background-color: #ffffff;
color: #004981;
}

.dropdown {
  margin: auto 0;
  padding: 0 25px;
  position: relative;
  display: inline-block;}


#hvikedu{
  height: 60px;
  max-height: 100%;
}

#search {
  padding: auto 15px;
  margin: auto;
  flex: 3 ;
  height: 100%;
  display: block;
}

#seicon {
  color: #ffffff;
  margin: auto 0;
  padding: 10px;
  display: block;
}


#bar {
  display: flex;
  background-color: #004981;
  padding-top: 20px;
}

#kuta {
  max-width: 100%;
  height: 20vh;
  padding: 2px;
  border-bottom: 2px solid #004981;
}

.onlessons {
  top: 1%;
  display: block;
  height: 100%;
  background-color: #ffffff;
}

.classbox {
  display: flex;
  margin-top: -19%;
  justify-content: space-around;
  flex-direction: row;
  padding: 0 10% 5%;
  float: right;
}

.classbox2 {
  display: flex;
  margin-top: -3%;
  justify-content: space-around;
  flex-direction: row;
  padding: 0 10% 5%;
  float: right;
}

#onle {
 text-decoration: underline;
 text-align: center;
 margin-right: 10%;
}


.lessonbox {
  height: 45vh;
  width: 35vh;
  border: 2px solid #004981;
  border-radius: 7px;
  padding: 10px;
  margin: 0;
  margin: 10px;
}

.bordercolor {
  border-color: #004981;
}

.underliner h2 h3{
  text-decoration: underline;
}
/*facebook post box*/
.facepost {
  border-style: solid;
  border-radius: 7px;
  float: right;
  width: 700px;
  height: 100px;
  margin-right: 190px;
  margin-top: 30px;
}

#hey {
  text-align: center;
}

#potext {
  padding-right: 68%;
  margin-left: 10px;
  justify-content: center;
  outline: none;
  border-left: none;
  border-right: none;
}

.postfeed {
  margin-top: 10px;
  margin-left: 50%;
  border-style: solid;
  border-radius: 7px;
  border-color: #004981;
  color: black;
}

#postbutton {
  background-color: white;
  color: #004981;
  border: none;
}

.postes {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 45.2%;
}
/*facebook post box*/
/*Chat boxen css*/

form, p, span {
  margin: 0;
  padding: 0;
}

input {
  font: 12px lato;
}

a {
  color: #004981;
  text-decoration: none;
}

  a:hover {text-decoration: underline;}

#wrapper, #loginform {
    margin-top: 10px;
    margin-left: 75px;
    padding-bottom: 25px;
    background: #ebf4fb;
    width: 404px;
    border: 1px solid #acd8f0;
    float:left;
  }

#loginform { padding-top: 18px;}

  #loginform p {margin: 5px;}

#chatbox {
  text-align: left;
  margin:0 auto;
  padding: 10px;
  background: #fff;
  height: 415px;
  width: 330px;
  border:1px solid #acd8f0;
  overflow:auto;
}

#usermsg {
  width: 272px;
  margin-left: 35px;
  border:1px solid #acd8f0;
}

#submit {width: 60px;}

.error {color: #ff0000}

#menu { padding: 12.5px 25px 12.5px 25px;}

.chwelcome {float: left;}

.logout {float: right;}

.msgln {margin:0 0 2px 0; }

/*Chat boxen slut*/
/*newsboks*/

.news {
  width: 80%;
  height: 45vh;
  margin-left: 9.1%;
  margin-bottom: 3%;
  display: flex;
  background-color: white;
  border-style: solid;
  border-radius: 7px;
  text-align: center;
}

.newsboks_bordercolor {
  display:block
}

.imagesforside {
  display:flex;
}

#newspic {
  margin-top: 14.5px;
  width: 10%;
  height: 250px;
  flex:1;
  padding:1px;
  border: black solid;
  border:#004981;
  border-radius: 7px;
}
/*newsboks*/
#loginkedu {
  width: 10%;
  height: 10%;
  margin-left: 2%;
}

/* Login html starter her*/
.content_login {
  display: flex;
  margin: auto;
}


#login_background_left {
  flex: 4;
}

#login_background_right {
  height: 100%;
  background-color: #004981;
  padding-bottom: 9.9%;
  flex: 3;
  color: white;
}

#login {
  font-family: lato;
  font-size: 12vh;
  right: 5%;
}

#createuser {
  display: flex;
  margin-top: 30.5%;
  margin-left: 1%;
  font-family: lato;
  color: white;
  text-decoration: underline;
}

#forgotpassword {
  color: white;
  margin-left: 3%;
}

.loginform {
  padding: 4px;
  color: #004981;
}

#loginuser {
  display: flex;
  width: 98%;
  height: 35px;
  padding: 1px;
  font-size: 15px;
  font-family: lato;
  color: #004981;
  border: none;
  border-radius: 7px;
}

#loginbutton {
  display: flex;
  margin-left: 85.5%;
  font-family: lato;
  color: #004981;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border: none;
  border-radius: 7px;
}
.rememberme {
  top: 28px;
  left: 5px;
  color: white;
}

.rememberme input {
  position: relative;
    width: 10px;
    height: 10px;
    border-style: solid;
}

.checkboxpassword {
  display: block;
}

.welcomemessage {
  text-align: center;
  margin-top: 20%;
}

#welcome {
  font-family: lato;
  color: #004981;
  margin-top: 100px;
  font-size: 120px;
  margin: auto;
}

#keduwelcome {
  width: 75%;
  margin: 0;
  padding: 0;
}

aside {
  padding: 0 15px;
  background-color: #004981;
}

.logincreate {
  display: flex;
}

/* Footer sectionen starter her */

footer {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  background-color: #004981;
}

footer ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.classes {
  margin: auto;
  color: white;
  font-family: "lato";

}

.lessons {
  margin: auto;
  color: white;
  font-family: "lato";

}

.aboutus {
  margin: auto;
  color: white;
  font-family: "lato";
}

.contactus {
  margin: auto;
  color: white;
  font-family: "lato";
}

.icons {
  margin: auto;
}

.formular {
  margin: auto;
  background-color: #004981;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  color: white;
}

#kubofooter {
margin: auto 0 0 0;
  width: 10%;
  height: 10%;
  max-height: 100%;
}
/* steps.html sectionen */
.stockfoto {
  width: 100%;
}

.content_wrapper {
  display: flex;

}

.Beskrivelsebox{
  padding: 25px;
  margin: auto;
}

.line {
  margin: auto;
  padding:0;
  flex: 1;
 }

.Billede1{
  flex:1;
  width: 60%;
  margin:auto;
  box-shadow: 0px 8px 0px 0px rgba(173, 162, 162, 0.2);
  border: 1px solid grey;
}


.textbox {
  padding: 0px;
  margin: auto;
  flex: 1;
}

.content_wrapper2{
  overflow: hidden;
  display: flex;
}

.line2 {
  margin: auto;
  padding:0;
  flex: 1;
}

.billede2 {
  flex:1;
  width: 60%;
  margin:auto;
  box-shadow: 0px 8px 0px 0px rgba(173, 162, 162, 0.2);
  border: 1px solid grey;
}

.textbox2 {
  padding: 0px;
  margin: auto;
  flex: 1;
}

.uploadmain {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px;
}

#uploadhead {
  text-align: center;
  font-family: lato;
  color:  #004981;
  padding: 15px;
}

.uploadchat {
  flex: 1;
}

.uploadlessons {
  background-color: white;
  position: 50%;
  flex: 1;
  padding: 5px;
  }

#uploadform {
  font-family: lato;
  border-color: #004981;
  color: #004981;
  padding: 20px 10px;
  width: 100%;
  display: inline-block;
  border-radius: 10px;
}

#uploadbutton {
  width: 100%;
  font-family: lato;
    background-color: #004981;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
}

#uploadfiles {
  border: solid;
  font-family: lato;
  border-color: #004981;
  color: #004981;
  padding: 17px 20px;
  width: 100%;
  display: inline-block;
  border-radius: 10px;
}

/* editor-html starter her :D*/

#editorwrapper {
  margin: 10px;
  padding: 0;
}

#addstuff {
  margin: auto;
  height: 30px;
  width: 100%;
  border: 2px solid black;
  display: flex;
}

.adds {

  flex-direction: row;
  display: block;
}

#tagtileeditor {
  padding: 0;
  margin:  10px auto;
  display: flex;
}

#sideeditright {
  width: 50px;
  border: 1px solid black;
  margin: 0;

}

#sideeditleft {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  height: 250px;
  width: 50px;

}
